service: circleci-build-trigger

provider:
  name: aws
  runtime: nodejs4.3
  region: ${env:AWS_DEFAULT_REGION, env:AWS_REGION}

custom: ${file(serverless.env.yml)}

functions:
  trigger:
    handler: handler.trigger
    description: ${self:custom.PROJECT}
    environment: ${self:custom}
    events:
      - schedule: ${self:custom.SCHEDULE_EXPRESSION}
